*{
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}
.title{
  color:rgb(129, 150, 10) ;
}
.main{
  display: grid;
  grid-template-columns: 150px 5fr;
  background-color: rgb(176, 176, 176);
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
}
.dashboard{
  overflow-y: auto;
}
h1{
  color: aqua;
}

@media all and (max-width: 600px) {
  .main {
      grid-template-columns: 70px 5fr;
  }
  }

/* SIDEBAR  */
.logo{
  width: 100px;
}
.sidebar-div{
  width: 80%;
  margin: auto;
}
.sidebar{
  background-color: #2e2e2e;
  overflow: hidden;
  height: 100vh;
  border-right-style: solid;
  border-right:#ffffff solid  2px;
}

.title {
  margin-top: 10px;
}
.menu-items {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.side-btn {
  border: none;
  padding: 16px 0px;
  cursor: pointer;
  font-size: 16px !important;
  font-weight: 500;
  color: rgb(190,215,57);
  background-color: transparent;
}
.side-btn:focus {
  outline: none;
}
.side-btn.active {
  position: relative;
  color: white;
  font-weight: 600;
}
a {
  text-decoration: none;
}
.span {
  margin-left: 10px;
}
.sidebar-content{
  
}
@media all and (max-width: 991px) {
  .menu-items {
    margin-top: 40px;
  }
}
@media all and (max-width: 600px) {
.span {
  display: none;
}
  .side-btn {
  font-size: 25px;
}
.logo{
  width: 50px;
}
}

.card-body p{
margin-bottom: 5px;
}
.card{
  min-height: 470px;
}


/* LOADER */
.load{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.ring
{
  position:absolute;
  width:150px;
  height:150px;
  background:transparent;
  border:3px solid #3c3c3c;
  border-radius:50%;
  text-align:center;
  line-height:150px;
  font-family:sans-serif;
  font-size:20px;
  color:rgb(190,215,57);
  letter-spacing:4px;
  text-transform:uppercase;
  text-shadow:0 0 10px rgb(190,215,57);
  box-shadow:0 0 20px rgba(0,0,0,.5);
}
.ring:before
{
  content:'';
  position:absolute;
  top:-3px;
  left:-3px;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid rgb(190,215,57);
  border-right:3px solid rgb(190,215,57);
  border-radius:50%;
  animation:animateC 2s linear infinite;
}
.span
{
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}
.loader:before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:rgb(190,215,57);
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px rgb(190,215,57);
}
@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}